

body {
	background-color: #c8c8c8;
	margin-left: 50%;
	position: relative;
	transform: translateX(-50%); 
	width: 1000px;


}
table {
	border-spacing: unset;
	}

h1 {
		font-family: volkorn;
		text-align: center;
		font-size: 75px;
		font-weight: bold;
	}

h2 {
	font-family: volkorn;
	color: #cf0025;
}

@font-face {
  font-family: volkorn;
  src: url(Vollkorn-ExtraBold.ttf);
}

.lien {
	color: #cf0025;
	font-weight: bold;
}

#HautTableau {
	background-color: #333333;
	border-spacing: unset;
	color: white;

}

tr:hover /* :hover = le survol avec la souris  */
{
	background-color: gray;
	cursor:pointer;
}
th {
	padding: 10px;
}

td {
	padding: 5px;
}

.CenterA {
	text-align: center;
}


.BlancGris {
	background-color: #dddddd;
}

.ConfigPhoto {

	overflow: auto;
	border: solid #cf0025;
	border-radius: 10px;
	background-color: #333333;
	text-align: center;
	color: white;
	padding: 30px;
	margin: initial;
}


.FinPage1 
{
	border: dashed #584caf;
	color: #584caf;
	background-color: #b7b7b7;
	margin-left: 30px;
	margin-right: 30px;
	padding: 20px;
	font-weight: bold;

  }

img {

    max-width: 100%;
  	max-height: 100%;
  	width: auto;
  	height: auto;

  
}

code {
	padding: 50px;
  }

