body {
	background-color: #c8c8c8;

	margin-left: 200px;
	margin-right: 200px;

}
table {
	border-spacing: unset;
	}

h1 {
		font-family: volkorn;
		text-align: center;
		font-size: 75px;
		font-weight: bold;
	}

h2 {
	font-family: volkorn;
	color: red;
}

@font-face {
  font-family: volkorn;
  src: url(Vollkorn-ExtraBold.ttf);
}

.lien {
	color: red;
	font-weight: bold;
}

#HautTableau {
	background-color: #333333;
	border-spacing: unset;
	color: white;

}

tr:hover /* :hover = le survol avec la souris  */
{
	background-color: gray;
	cursor:pointer;
}



.BlancGris {
	background-color: #dddddd;
}

.ConfigPhoto {
	border: solid red;
	border-radius: 10px;
	background-color: #333333;
	text-align: center;
	color: white;
	padding: 30px;

}

#FinPage1 {
	border: dashed #584caf;
	color: #584caf;
	background-color: #b7b7b7;
	margin: auto;
	padding: 20px;
}